
AnonamousMethods/.vs/AnonamousMethods/DesignTimeBuild/.dtbcache.v2
AnonamousMethods/.vs/AnonamousMethods/FileContentIndex/2f52c59b-ab87-4a91-8aee-df9dcdc4aa58.vsidx
AnonamousMethods/.vs/AnonamousMethods/FileContentIndex/4c8d52fa-e2ff-4a77-9f76-a024dc586d85.vsidx
AnonamousMethods/.vs/AnonamousMethods/FileContentIndex/e827f20e-6956-4842-9a01-01ca54835ba8.vsidx
AnonamousMethods/.vs/AnonamousMethods/v17/.futdcache.v2
AnonamousMethods/.vs/AnonamousMethods/v17/.suo
AnonamousMethods/.vs/ProjectEvaluation/anonamousmethods.metadata.v7.bin
AnonamousMethods/.vs/ProjectEvaluation/anonamousmethods.projects.v7.bin
AnonamousMethods/bin/Debug/net7.0/AnonamousMethods.deps.json
AnonamousMethods/bin/Debug/net7.0/AnonamousMethods.dll
AnonamousMethods/bin/Debug/net7.0/AnonamousMethods.exe
AnonamousMethods/bin/Debug/net7.0/AnonamousMethods.pdb
AnonamousMethods/bin/Debug/net7.0/AnonamousMethods.runtimeconfig.json
AnonamousMethods/obj/AnonamousMethods.csproj.nuget.dgspec.json
AnonamousMethods/obj/AnonamousMethods.csproj.nuget.g.props
AnonamousMethods/obj/AnonamousMethods.csproj.nuget.g.targets
AnonamousMethods/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
AnonamousMethods/obj/Debug/net7.0/AnonamousMethods.AssemblyInfoInputs.cache
AnonamousMethods/obj/Debug/net7.0/AnonamousMethods.assets.cache
AnonamousMethods/obj/Debug/net7.0/AnonamousMethods.csproj.BuildWithSkipAnalyzers
AnonamousMethods/obj/Debug/net7.0/AnonamousMethods.csproj.CoreCompileInputs.cache
AnonamousMethods/obj/Debug/net7.0/AnonamousMethods.csproj.FileListAbsolute.txt
AnonamousMethods/obj/Debug/net7.0/AnonamousMethods.dll
AnonamousMethods/obj/Debug/net7.0/AnonamousMethods.GeneratedMSBuildEditorConfig.editorconfig
AnonamousMethods/obj/Debug/net7.0/AnonamousMethods.genruntimeconfig.cache
AnonamousMethods/obj/Debug/net7.0/AnonamousMethods.GlobalUsings.g.cs
AnonamousMethods/obj/Debug/net7.0/AnonamousMethods.pdb
AnonamousMethods/obj/Debug/net7.0/apphost.exe
AnonamousMethods/obj/Debug/net7.0/ref/AnonamousMethods.dll
AnonamousMethods/obj/Debug/net7.0/refint/AnonamousMethods.dll
AnonamousMethods/obj/project.assets.json
AnonamousMethods/obj/project.nuget.cache
LectureProject/.vs/LectureProject/DesignTimeBuild/.dtbcache.v2
LectureProject/.vs/LectureProject/FileContentIndex/1ebfed14-6b9d-4efb-b284-58daf51d218f.vsidx
LectureProject/.vs/LectureProject/FileContentIndex/24024cbe-ee77-49e8-a260-2f0acc49d45d.vsidx
LectureProject/.vs/LectureProject/FileContentIndex/7c7732ff-3b8e-41f6-8819-62555fa9d553.vsidx
LectureProject/.vs/LectureProject/FileContentIndex/be7772a7-0b81-4d29-be96-f2f4c04ea95c.vsidx
LectureProject/.vs/LectureProject/FileContentIndex/e34eaa64-a9fb-4960-8fc7-a79b442d61f4.vsidx
LectureProject/.vs/LectureProject/v17/.futdcache.v2
LectureProject/.vs/LectureProject/v17/.suo
LectureProject/.vs/ProjectEvaluation/lectureproject.metadata.v7.bin
LectureProject/.vs/ProjectEvaluation/lectureproject.projects.v7.bin
LectureProject/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
LectureProject/obj/Debug/net7.0/LectureProject.AssemblyInfo.cs
LectureProject/obj/Debug/net7.0/LectureProject.AssemblyInfoInputs.cache
LectureProject/obj/Debug/net7.0/LectureProject.assets.cache
LectureProject/obj/Debug/net7.0/LectureProject.csproj.CoreCompileInputs.cache
LectureProject/obj/Debug/net7.0/LectureProject.csproj.FileListAbsolute.txt
LectureProject/obj/Debug/net7.0/LectureProject.GeneratedMSBuildEditorConfig.editorconfig
LectureProject/obj/Debug/net7.0/LectureProject.GlobalUsings.g.cs
LectureProject/obj/LectureProject.csproj.nuget.dgspec.json
LectureProject/obj/LectureProject.csproj.nuget.g.props
LectureProject/obj/LectureProject.csproj.nuget.g.targets
LectureProject/obj/project.assets.json
LectureProject/obj/project.nuget.cache
PracticeProject/.vs/PracticeProject/DesignTimeBuild/.dtbcache.v2
PracticeProject/.vs/PracticeProject/FileContentIndex/54703f10-edfe-4680-9c34-cc5c55350084.vsidx
PracticeProject/.vs/PracticeProject/v17/.futdcache.v2
PracticeProject/.vs/PracticeProject/v17/.suo
PracticeProject/.vs/ProjectEvaluation/practiceproject.metadata.v7.bin
PracticeProject/.vs/ProjectEvaluation/practiceproject.projects.v7.bin
PracticeProject/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
PracticeProject/obj/Debug/net7.0/LectureProject.AssemblyInfoInputs.cache
PracticeProject/obj/Debug/net7.0/LectureProject.assets.cache
PracticeProject/obj/Debug/net7.0/LectureProject.GeneratedMSBuildEditorConfig.editorconfig
PracticeProject/obj/Debug/net7.0/LectureProject.GlobalUsings.g.cs
PracticeProject/obj/Debug/net7.0/PracticeProject.AssemblyInfoInputs.cache
PracticeProject/obj/Debug/net7.0/PracticeProject.assets.cache
PracticeProject/obj/Debug/net7.0/PracticeProject.GeneratedMSBuildEditorConfig.editorconfig
PracticeProject/obj/Debug/net7.0/PracticeProject.GlobalUsings.g.cs
PracticeProject/obj/LectureProject.csproj.nuget.dgspec.json
PracticeProject/obj/LectureProject.csproj.nuget.g.props
PracticeProject/obj/LectureProject.csproj.nuget.g.targets
PracticeProject/obj/PracticeProject.csproj.nuget.dgspec.json
PracticeProject/obj/PracticeProject.csproj.nuget.g.props
PracticeProject/obj/PracticeProject.csproj.nuget.g.targets
PracticeProject/obj/project.assets.json
PracticeProject/obj/project.nuget.cache
CSharpTest01/.vs/CSharpTest01/FileContentIndex/e1ab295e-372c-45c9-a2db-7209838d7c28.vsidx
CSharpTest01/.vs/CSharpTest01/v17/.suo
CSharpTest01/obj/CSharpTest01.csproj.nuget.dgspec.json
CSharpTest01/obj/CSharpTest01.csproj.nuget.g.props
CSharpTest01/obj/CSharpTest01.csproj.nuget.g.targets
CSharpTest01/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
CSharpTest01/obj/Debug/net7.0/CSharpTest01.AssemblyInfo.cs
CSharpTest01/obj/Debug/net7.0/CSharpTest01.AssemblyInfoInputs.cache
CSharpTest01/obj/Debug/net7.0/CSharpTest01.assets.cache
CSharpTest01/obj/Debug/net7.0/CSharpTest01.GeneratedMSBuildEditorConfig.editorconfig
CSharpTest01/obj/Debug/net7.0/CSharpTest01.GlobalUsings.g.cs
CSharpTest01/obj/project.assets.json
CSharpTest01/obj/project.nuget.cache
